<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classificador de Emails</title>
</head>
<body>
    <h1>Classificador de Emails</h1>

    <form method="post" action="/process">
        <textarea name="email_content" rows="10" cols="60"
         placeholder="Cole o conteúdo do email aqui...">
        </textarea>
        <br><br>
    
        <button type="submit">Processar</button>
    </form>
</body>
</html>